.header {
    background: black;
    p {
        color: darkgray;
    }
    .container {
padding:  {
    top: 5px;
    bottom: 5px;
}
 }
}
.content {
    background: #eee;
    .container {
padding:  {
    top: 60px;
    bottom: 60px;
}
 }
 }
 .container {
     padding:  {
    top: 60px;
    bottom: 60px;
}
 }
 